@font-face {
    font-family: "Frank-Re";
    src: url("/fonts/frank-re.woff") format("woff");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Apfel";
    src: url("/fonts/Apfel/ApfelGrotezk-Brukt.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Apfel";
    src: url("/fonts/Apfel/ApfelGrotezk-Fett.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Apfel";
    src: url("/fonts/Apfel/ApfelGrotezk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Ignazio";
    src: url("/fonts/Ignazio/IgnazioText-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}





