@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('../public/cursor.png') 15 15,auto;
}

button, a {
cursor: url('../public/cursor-pointer.png') 15 15,pointer;
}

button:active, a:active {
  cursor: url('../public/cursor-pressed.png') 15 15,pointer;
}

@layer components {
  .content-container {
    @apply mx-auto w-full max-w-[1400px] px-4 pt-12 md:px-12 md:pt-24 lg:px-28 2xl:max-w-[2000px] 2xl:px-44 2xl:pt-32;
  }

  .content p {
    @apply mx-auto mb-2 text-justify text-lg md:text-xl 2xl:text-2xl;
  }

  .content h1 {
    @apply mb-4 font-mona text-3xl font-bold;
  }

  .content h2 {
    @apply mb-4 font-mona text-2xl font-bold;
  }

  .content hr {
    @apply mb-6 border-[rgba(1,1,1,0.2)];
  }

  .content ul {
    @apply list-disc;
  }

  .content li {
    @apply mb-3 text-xl;
  }

  .content img {
    @apply my-6 rounded-xl object-contain;
  }

  .content em {
    @apply -mt-4 mb-8 block text-center font-monaWide text-sm font-normal italic text-gray-700;
  }

  .content a {
    @apply font-medium text-secondary underline decoration-secondary decoration-dotted decoration-4 transition-colors hover:text-primary hover:decoration-primary;
  }

  .content video {
    @apply my-6 mx-auto max-h-[500px] rounded-xl object-contain;
  }

  .heading {
    @apply mb-2 text-left font-apfel text-6xl font-bold text-gray-900 md:text-8xl 2xl:text-9xl 2xl:mb-6;
  }

  .subheading {
    @apply max-w-[800px] font-normal text-2xl md:text-3xl font-mona text-gray-500;

    line-height: 1.4;
  }
}

@font-face {
  font-family: "Apfel";
  src: url("/fonts/Apfel/ApfelGrotezk-Fett.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Apfel";
  src: url("/fonts/Apfel/ApfelGrotezk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ignazio";
  src: url("/fonts/Ignazio/IgnazioText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mona";
  src: url("/fonts/Mona/Mona-Sans-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Mona Wide";
  src: url("/fonts/Mona/Mona-Sans-LightWide.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Mona Wide";
  src: url("/fonts/Mona/Mona-Sans-LightWide.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Mona";
  src: url("/fonts/Mona/Mona-Sans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mona Narrow";
  src: url("/fonts/Mona/Mona-Sans-RegularNarrow.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mona";
  src: url("/fonts/Mona/Mona-Sans-RegularItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mona Wide";
  src: url("/fonts/Mona/Mona-Sans-RegularWide.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mona Wide";
  src: url("/fonts/Mona/Mona-Sans-RegularWideItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mona";
  src: url("/fonts/Mona/Mona-Sans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Mona Wide";
  src: url("/fonts/Mona/Mona-Sans-MediumWide.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Mona";
  src: url("/fonts/Mona/Mona-Sans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Mona Wide";
  src: url("/fonts/Mona/Mona-Sans-SemiBoldWide.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Mona Narrow";
  src: url("/fonts/Mona/Mona-Sans-BoldNarrow.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
