@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-container {
    @apply px-6 pt-20 mx-auto max-w-[2000px] w-full md:px-12 lg:px-28 md:pt-24 2xl:px-44 2xl:pt-32;
  }

  .heading {
    @apply bg-gradient-to-r from-indigo-700 to-indigo-400 bg-clip-text text-left font-apfel text-6xl 2xl:text-7xl 2xl:min-h-[80px] min-h-[65px] font-bold text-transparent md:mb-0 md:min-h-[70px]
  }

  .highlight {
    @apply bg-gradient-to-r from-indigo-800 to-pink-600 bg-clip-text text-transparent
  }
}

@font-face {
  font-family: "Apfel";
  src: url("/fonts/Apfel/ApfelGrotezk-Fett.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Apfel";
  src: url("/fonts/Apfel/ApfelGrotezk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Ignazio";
  src: url("/fonts/Ignazio/IgnazioText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}




